In [1137]:
#1
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [1138]:
#2
x=5
for i in range(0,6):
    print((7-i)*" "+i*"*")

      *
     **
    ***
   ****
  *****

In [1139]:
#3
x=5
for i in range(x,0,-1):
    print((6-i)*" "+i*"*")

 *****
  ****
   ***
    **
     *

In [1140]:
#4
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

In [1141]:
#5
for i in range(1,6):
    print(i*"* ")
if(i==5):
        for i in range(5,0,-1):
            print(i*"* ")

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [1142]:
#6
for i in range(5,0,-1):
    print(i*"* ")
    if(i==1):
        for i in range(1,6):
            print(i*"* ")

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [1143]:
#7
for i in range(1,6):
    print((6-i)*" "+i*"*")
    if i==5:
      for i in range(5,0,-1):
          print((6-i)*" "+i*"*")

     *
    **
   ***
  ****
 *****
 *****
  ****
   ***
    **
     *

In [1144]:
#8
x=5
for i in range(5,0,-1):
    print((6-i)*" "+i*"*")
    if i==1:
        for i in range(2,6):
            print((6-i)*" "+i*"*")

 *****
  ****
   ***
    **
     *
    **
   ***
  ****
 *****

In [1145]:
#9
for i in range(1,10,2):
    print((i*"* ").center(20))

         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *

In [1146]:
#10
for i in range(10,0,-1):
    print((i*"* ").center(20))
    if(i==1):
        for i in range(1,10):
            print((i*"* ").center(20))

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [1147]:
#11
x=6
for i in range(1,6):
    y=(x-(i+1))*" "+i*"*"
    print(i*"*"+(x-(i+1))*" "+y)

*        *
**      **
***    ***
****  ****
**********

In [1148]:
#12
x=6
for i in range(6,0,-1):
    y=(x-i)*" "+i*"*"
    print(i*"*"+(x-(i))*" "+y)

************
*****  *****
****    ****
***      ***
**        **
*          *

In [1149]:
#13
for i in range(1,6):
    print("*"*i+" "*(6-i)+" "*(6-i)+"*"*i)
    if i==5:
        for j in range(6,0,-1):
            print("*"*j+" "*(6-j)+" "*(6-j)+"*"*j)

*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *

In [1150]:
#14
for i in range(6,0,-1):
    print("*"*i+" "*(6-i)+" "*(6-i)+"*"*i)
    if i==1:
      for j in range(1,6):
        print("*"*j+" "*(6-j)+" "*(6-j)+"*"*j)

************
*****  *****
****    ****
***      ***
**        **
*          *
*          *
**        **
***      ***
****    ****
*****  *****

In [1151]:
#15
k=1
for i in range(1,6):
    if i==1 or i==2 or i==5:
     print(i*"*")
    elif i==3:
      print(k*"*"+" "+k*"*")
    else:
        print(k*"*"+"  "+k*"*")

*
**
* *
*  *
*****

In [1152]:
#16
k=1
for i in range(5,0,-1):
    if i==5 or i==2 or i==1:
     print(i*"*")
    elif i==3:
        print(k*"*"+" "+k*"*")
    else:
        print(k*"*"+"  "+k*"*")

*****
*  *
* *
**
*

In [1153]:
#17
k=1
for i in range(0,6):
    if i==5 or i==2 or i==1:
     print((7-i)*" "+i*"*")
    elif i==3:
        print("    "+k*"*"+" "+k*"*")
    elif i==4:
        print("   "+k*"*"+"  "+k*"*")

      *
     **
    * *
   *  *
  *****

In [1154]:
#18
k=1
x=2
for i in range(5,0,-1):
    if i==5 or i==2 or i==1:
     print(i*"*")
    else:
        print(k*"*"+x*" "+k*"*")
        x=x-1
for j in range(1,6):
    if j==1 or j==2 or j==5:
     print(j*"*")
    else:
        print(k*"*"+x*"  "+k*"*")
        x=x+1

*****
*  *
* *
**
*
*
**
**
*  *
*****

In [1155]:
#19
k=1
for i in range(0,6):
 if i==2 or i==1:
    print((7-i)*" "+i*"*")
 elif i==4:
        print("    "+k*"*"+" "+k*"*")
 elif i==5:
        print("   "+k*"*"+"  "+k*"*")  
for j in range(5,0,-1):
 if j==1 or j==2:
    print((7-j)*" "+j*"*")
 elif j==5:
     print("  "+k*"*"+"   "+k*"*")
 elif j==4:
        print("   "+k*"*"+"  "+k*"*")

      *
     **
    * *
   *  *
  *   *
   *  *
     **
      *

In [1156]:
#20
k=1
for i in range(5,0,-1):
    if i==5 or i==2 or i==1:
     print((7-i)*" "+i*"*")
    elif i==3:
        print("    "+k*"*"+" "+k*"*")
    else:
        print("   "+k*"*"+"  "+k*"*")
for j in range(0,6):
    if j==5 or j==2 or j==1:
     print((7-j)*" "+j*"*")
    elif j==3:
        print("    "+k*"*"+" "+k*"*")
    elif j==4:
        print("   "+k*"*"+"  "+k*"*")

  *****
   *  *
    * *
     **
      *
      *
     **
    * *
   *  *
  *****

In [1157]:
#21
k=1
max=9
for i in range(1,6):
    if i==1 :
     print((i*"*").center(max))
    elif i==5:
        print((max*"*").center(max))
    else:
        print(("*"+k*" "+"*").center(max))
        k=k+2

    *
   * *
  *   *
 *     *
*********

In [1158]:
#22
k=5
max=9
for i in range(5,0,-1):
    if i==1:
        print((i*"*").center(max))
    elif i==5:
        print((max*"*").center(max))
    else:
        print(("*"+k*" "+"*").center(max))
        k=k-2

*********
 *     *
  *   *
   * *
    *

In [1159]:
#23
max=9
x=1
y=7
for i in range(1,5):
    if i==1 :
     print((i*"*").center(max))
    else:
        print(("*"+x*" "+"*").center(max))
        x=x+2   
for j in range(5,0,-1):
    if j==1:
        print((j*"*").center(max))
    else:   
       print(("*"+y*" "+"*").center(max))
       y=y-2

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [1160]:
#24
k=5
max=9
for i in range(5,0,-1):
    if i==1:
        print((i*"*").center(max))
    elif i==5:
        print((max*"*").center(max))
    else:
        print(("*"+k*" "+"*").center(max))
        k=k-2
x=1
max=9
for j in range(1,6):
    if j==1 :
     print((j*"*").center(max))
    elif j==5:
        print((max*"*").center(max))
    else:
        print(("*"+x*" "+"*").center(max))
        x=x+2

*********
 *     *
  *   *
   * *
    *
    *
   * *
  *   *
 *     *
*********

In [1161]:
#25
for i in range(1,6):
    for j in range(5,j+1):
        print(j*"* ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [1162]:
#26
for i in range(1,6):
    a=" "
    for j in range(1,i+1):
        a=a+str(j)+" "
    print(a)

 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5

In [1163]:
#27
x=6
data=""
for i in range(1,x):
    data=data+chr(64+i)+" "
    print(data)

A
A B
A B C
A B C D
A B C D E

In [1164]:
#28
for i in range(1,6):
    a=" "
    for j in range(1,i+1):
        a=a+str(i)+" "
    print(a)

 1
 2 2
 3 3 3
 4 4 4 4
 5 5 5 5 5

In [1165]:
#29
for i in range(0,7):
    y=" "
    for j in range(1,i):
        y=y+chr(64+j)+" "
    print(y)

 A
 A B
 A B C
 A B C D
 A B C D E

In [1166]:
#30
x=6
star=""
for i in range(1,x):
    star=star+str(i)+" "
    print(star.center(20," "))

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5

In [1167]:
#31
x=6
star=""
for i in range(1,x):
    star=" "+str(x-i)+star
    print(star.center(20," "))

          5
         4 5
        3 4 5
       2 3 4 5
      1 2 3 4 5

In [1168]:
#32
x=6
data=""
for i in range(1,x):
    data=data+chr(64+i)+" "
    print(data.center(20," "))

         A
        A B
       A B C
      A B C D
     A B C D E

In [1169]:
#33
x=5
star=""
for i in range(x,0,-1):
    star=" "+str(chr(64+i))+star
    print(star.center(20," "))

          E
         D E
        C D E
       B C D E
      A B C D E

In [1170]:
#34
x=6
for i in range(1,x):
    a=" ".join(i*str(i))
    print(a.center(20," "))

         1
        2 2
       3 3 3
      4 4 4 4
     5 5 5 5 5

In [1171]:
#35
x=6
for i in range(1,6):
    y=" ".join(i*str(chr(64+i)))
    print(y.center(20," "))

         A
        B B
       C C C
      D D D D
     E E E E E

In [1172]:
#36
for i in range(5,0,-1):
    y=""
    for j in range(1,i+1):
        y=y+str(j)
    print(" ".join(y))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [1173]:
#37
for i in range(5,0,-1):
    y=""
    for j in range(i,0,-1):
        y=y+str(j)
    print(" ".join(y))

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [1174]:
#38
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [1175]:
#39
x=6
y=""
for i in range(1,6):
    y=y+str(x-i)+" "
    print(y)

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [1176]:
#40
x=6
num=0
for i in range(1,x):
    y=""
    for j in range(0,i):
        num=num+1
        y=y+str(num)+" "
    print(y)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [1177]:
#41
x=6 
for i in range(6,1,-1):
    y=""
    for j in range(1,i):
        y=y+chr(64+j)+" "
    print(y)

A B C D E
A B C D
A B C
A B
A